extends layout

block content

    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa earum eligendi vero repellendus error tempore quasi illum quaerat itaque quos neque eum similique ducimus harum eos autem, sapiente beatae reprehenderit?
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa earum eligendi vero repellendus error tempore quasi illum quaerat itaque quos neque eum similique ducimus harum eos autem, sapiente beatae reprehenderit?